<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVNfK-z6EWCDZ5m7iPqC8k3VRz_yGFdfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>490267905091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.temTechnologies</string>
	<key>PROJECT_ID</key>
	<string>first---app</string>
	<key>STORAGE_BUCKET</key>
	<string>first---app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490267905091:ios:e3e504bf1d7ecdb1cfd8f6</string>
</dict>
</plist>